.button-wrap {
  margin: 61px auto 0;
  width: calc(100% / 6);
}

.btn {
  /* Font */
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* Box */
  padding: 8px 30px;
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid;
  border-color: rgba($accent, .2);
  border-radius: 3px;

  /* Colors */
  background-color: transparent;
  color: $accent;
  
  /* Effects */
  transition: all .35s ease;
  cursor: pointer;
  
  &:hover { border-color: rgba($accent, 1); }
}
