.btn {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  padding: 8px 30px;
  display: flex;
  align-items: center;
  text-align: center;

  color: $accent;
  border: 1px solid;
  border-color: rgba($accent, .2);
  box-sizing: border-box;
  border-radius: 3px;
  transition: all, .35s, ease;
  cursor: pointer;

  &:hover {
    border-color: rgba($accent, 1);
    transition: all, .35s, ease;
  }
}
