.footer {
  background: $background;

  &__main {
    padding: 20px 1px 50px;
    margin: 0 -15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__copyright {
    font-size: $fz-text;
    line-height: 20px;
    color: $text-secondary;
  }

  &__links { display: flex; }

  &__item { margin-left: 40px; }

  &__link { color: $accent; }
}

.line {
  height: 0;
  border-top: 1px solid $text-secondary;
  margin: 0 1px;
}