.footer {
  background: #F2F5F6;
  &__main {
    display: flex;
    padding: 20px 1px 50px;
    margin: 0 -15px;
    align-items: center;
    justify-content: space-between;
  }

  &__copyright {
    font-size: 14px;
    line-height: 20px;
    color: #bfbfc5;
  }

  &__links {
    display: flex;
  }

  &__item {
    margin-left: 40px;
  }

  &__link {
    color: #f03360;
  }
}

.line {
  border-top: 1px solid #bfbfc5;
  height: 0;
  margin: 0 1px;
}