.container {
  box-sizing: border-box;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

@media screen and (max-width: 1170px) {
  .container {
    min-width: 550px;
    max-width: 950px;
    padding: 0 15px;
  }
}

@media screen and (max-width: 760px) {
  .container {
    min-width: 320px;
    max-width: 620px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-3 {
  max-width: 100%;
  width: calc(33% - 30px);
  margin: 0 15px;
}

@media screen and (max-width: 768px) {
  .col-3 { width: calc(50% - 30px); }
}

@media screen and (max-width: 480px) {
  .col-3 { width: calc(100% - 30px); }
}