.favorites-modal {
  position: absolute;
  z-index: 1000;
  top: 20px;
  right: 0;
  background-color: #fff;

  white-space: nowrap;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  padding: 5px 15px;

  opacity: 0;
  transition: opacity 0.5s ease;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 0;
    border-bottom: 1px solid $gray-light;

    &:last-child {
      border-bottom: 1px solid #fff;
    }
  }

  &__item-name {
    padding-right: 15px;
  }

  &__delete-button {
    background: transparent;
    border: 0;
    float: right;

    font-size: 18px;

    transform: rotate(45deg);
    cursor: pointer;
    &:focus, &:active { outline: none; }
  }
}