.navbar {
  &__main {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 1px 150px;
    margin: 0 -15px;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-left: 15px;
    width: calc(100% / 6);
    display: flex;
    align-items: center;

    & .icon {
      height: 37.38px;
      width: 37.38px;
      margin-right: 17.76px;
    }
  }

  &__brand {
    font-size: $fz-logo;
    line-height: 28px;
    font-weight: 500;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 2);
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    padding: 5px 10px;
    position: relative;
    display: flex;

    &:hover {
      .navbar__link {
        color: $accent;
      }
      .navbar__link .icon {
        fill: $accent;
      }
    }
  }

  &__label {
    cursor: pointer;
  }

  .navbar__checkbox-hidden {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .navbar__checkbox-hidden:checked + .navbar__label .navbar__link {
    color: $accent;
  }

  .navbar__checkbox-hidden:checked + .navbar__label .icon {
    fill: $accent;
  }

  &__link {
    font-size: $fz-text;
    line-height: 17px;
    color: $text-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 0.35s ease;

    & .icon {
      height: 23px;
      width: 23px;
      margin-right: 14px;
      transition: fill 0.35s ease;
    }
  }

  &__favorites {
    margin-right: 15px;
    width: calc(100% / 6);
    text-align: right;

    position: relative;
    cursor: pointer;

    & p {
      color: $accent;
      font-family: "Rubik";
      font-size: 16px;
      line-height: 20px;
    }

    &:hover {
      .favorites-modal {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .navbar__main {
    padding-top: 30px;
    padding-bottom: 100px;
  }

  .navbar__list {
    width: 100%;
    order: 3;
    padding-top: 30px;
  }

  .navbar__item {
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .navbar__favorites {
    width: calc(100% / 2);
    order: 2;
    white-space: nowrap;
  }
}
