.navbar {
  &__main {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 1px 150px;
    margin: 0 -15px;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-left: 15px;
    width: calc(100% / 6);
    display: flex;
    align-items: center;

    & .icon {
      height: 37.38px;
      width: 37.38px;
      margin-right: 17.76px;
    }
  }

  &__brand {
    font-size: $fz-logo;
    line-height: 28px;
    font-weight: 500;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 2);
    justify-content: space-between;
  }

  &__item {
    cursor: pointer;
    padding: 5px 10px;

    &:hover {
      .navbar__link {
        color: $accent;
      }
      .navbar__link .icon {
        fill: $accent;
      }
    }
  }

  &__link {
    font-size: $fz-text;
    line-height: 17px;
    color: $text-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 0.35s ease;

    & .icon {
      height: 23px;
      width: 23px;
      margin-right: 14px;
      transition: fill 0.35s ease;
    }
  }

  &__favorites {
    margin-right: 15px;
    width: calc(100% / 6);
    text-align: right;

    position: relative;
    cursor: pointer;

    & p {
      color: $accent;
      font-family: "Rubik";
      font-size: 16px;
      line-height: 20px;
    }

    &:hover {
      .favorites-modal {
        opacity: 1;
      }
    }
  }
}

.favorites-modal {
  position: absolute;
  z-index: 1000;
  top: 15px;
  right: 0;
  background-color: #fff;

  white-space: nowrap;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  padding: 5px 15px;

  opacity: 0;
  transition: opacity 0.5s ease;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 0;
    border-bottom: 1px solid $gray-light;

    &:last-child {
      border-bottom: 1px solid #fff;
    }
  }

  &__item-name {
    padding-right: 15px;
  }

  &__delete-button {
    background: transparent;
    border: 0;
    float: right;

    transform: rotate(45deg);
    cursor: pointer;
  }
}

@media screen and (max-width: 480px) {
  .navbar__main {
    padding-top: 30px;
    padding-bottom: 100px;
  }

  .navbar__list {
    width: 100%;
    order: 3;
    padding-top: 30px;
  }

  .navbar__item {
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .navbar__favorites {
    width: calc(100% / 2);
    order: 2;
    white-space: nowrap;
  }
}
