.products {
  background: $background;
  position: relative;

  &__wrapper {
    position: relative;
    bottom: 100px;
  }
}


.product {
  /* Box */
  height: 400px;
  width: 340px;
  margin-bottom: 15px;
  border: 1px solid $gray-lighter;
  border-radius: 3px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0);
  
  position: relative;
  transition: box-shadow .35s ease;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);

    .product__img { filter: brightness(80%); }

    .product__title { color: $accent; }

    .product__star-icon .icon { opacity: 1; }
  }

  &__img {
    height: 340px;
    border-radius: inherit;

    transition: filter .35s ease;

    & img {
      border-radius: inherit;
    }
  }


  &__body {
    height: 180px;
    width: 100%;

    display: flex;
    flex-direction: column;

    background-color: #FFF;
    border-radius: 0 0 3px 3px;

    position: absolute;
    bottom: 0;
  }

  &__description {
    width: 100%;
    height: 130px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    padding: 20px;
    border-bottom: 1px solid $gray-lighter;
  }

  &__title {
    font-weight: 500;
    font-size: $fz-title;
    line-height: 24px;
    color: $text-primary;

    transition: color .35s ease;
  }

  &__caption {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: $fz-text;
    line-height: 20px;
    color: #BFBFC5;
  }

  &__info {
    display: flex;
  }

  &__info-item {
    width: 50%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(1) { border-right: 1px solid #EAEAEA; }

    & .icon {
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
  }

  &__star-icon {
    position: absolute;
    top: 20px;
    right: 20px;

    & .icon {
      width: 25px;
      height: 25px;

      fill: #fff;
      opacity: 0;
      transition: opacity .35s ease, fill .5s ease;

      &.active {
        opacity: 1;
        fill: $accent;
        transition: fill .5s ease;
      }
    }
  }
}

/* Just animation */
.products__list {
  
  &-item {
    transition: transform .7s, opacity .15s;
  }

  &-enter, &-leave-to {
    opacity: 0;
    transform: translateY(30px);
  }

  &-leave-active {
    position: absolute;
  }
}