@import "./vars";
@import "./reset";
@import "./nav";
@import "./product";
@import "./grid";
@import "./button";
@import "./footer";
html * {
  font-family: 'Rubik';
}
.icon {
  fill: #BFBFC5;
  cursor: pointer;
}

.img-fluid {
  height: 100%;
  width: 100%;
}