@import "./vars";
@import "./grid";
@import "./button";
.button {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  background-color: #FFF !important;
  color: tomato !important;

  &:focus,
  &:active {
    background-color: tomato !important;
    color: #FFF !important;
  }
}

.icon {
  fill: #BFBFC5;
  transition: fill .5s ease;
  cursor: pointer;
  &:hover {
    fill: #F03360;
  }
}